body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEEBF6;
    color: #333;
}

.Header {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 3px solid #00a676;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}

.footer img {
    width: 100%; 
    width: 1500px;
    height: 250px;
    justify-content: center;
    min-height: 90px; 
    object-fit: contain; 
    image-rendering: crisp-edges;
    filter: clarity(5000.0) contrast(1.1) brightness(0.5); 
    image-rendering: optimizeQuality;
}


.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    background-color: #A7C1A8;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar li {
    position: relative;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px;
    font-size: 1.1em;
}

.navbar a:hover {
    color: #00a676;
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown .Dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00bcd4;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
}

.dropdown:hover .Dropdown {
    display: block;
}

.Dropdown li {
    margin: 5px 0;
}

.Dropdown li a {
    color: white;
    text-decoration: none;
}

.Dropdown li a:hover {
    color: #00a676;
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 20px;
}


.column h1, .column h2, .column h3 {
    color: #00a676;
}

.column p {
    font-size: 1.1em;
    line-height: 1.6;
}

.column:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.column.side {
    flex: 1;
    background: #ffffff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.column.side h2 {
    color: #00a676;
}

.column.side img {
    margin: 10px;
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
}

.column.middle {
    flex: 3;
    background: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    max-width: 1200px;
}

.column.middle h2 {
    color: #00a676;
}

.column.middle h1 {
    color: #00a676;
}

#SDGs {
    width: 100%;
    background-color: pink;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

#SDGs img {
    max-width: 800px;  
    width: 100%;       
    height: auto;      
}

button {
    background-color: #00a676;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007a4d;
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 20px;
}

.column {
    background: white;
    text-align: center;
    padding: 20px 20px;
    margin: 5px;
    border-radius: 8px;
    max-width: 2000px;
    height: auto;
}

.column h1, .column h2, .column h3 {
    color: #00a676;
}

.column p {
    font-size: 1.1em;
    line-height: 1.6;
}

.column:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.column.side {
    flex: 1;
    background: #ffffff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.column.side h2 {
    color: #00a676;
}

.column.side img {
    margin: 10px;
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
}

.column.middle {
    flex: 3;
    background: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    max-width: 1200px;
}

.column.middle h2 {
    color: #00a676;
}

.column.middle h1 {
    color: #00a676;
}

#SDGs {
    width: 100%;
    background-color: pink;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

#SDGs img {
    max-width: 800px;  
    width: 100%;       
    height: auto;      
}

button {
    background-color: #00a676;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007a4d;
}

.grid-container-1{
    display: grid;
    grid-template-columns: repeat(4, 5fr); 
    gap: 20px; 
    margin: 0 auto; 
    height:auto;
    width: 100%; 
    padding: 10px 10px; 
    justify-items: center; 
}
.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 20px;
    margin: 0 auto;
    max-width: 100%; 
    padding: 20px 20px;
    justify-items: center;
}

.card {
    background: #ffffff;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s;
    height: 100%; 
    width: 100%; 
    max-width: 400px; 
    max-height: 1000px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.card img {
    width: 250px; 
    height: 250px;
    border-radius: 8px; 
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 15px;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
}

.card h3 span {
    margin-right: 5px;
}